.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  color: #000;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
}