.kaufman__triangle {
    background-image: url("../../../../images/kaufman-triangle.svg");
    background-size: cover;
    position: absolute;
    right: -120px;
    top: 0;
    height: 877px;
    width: 877px;
    animation: rotation linear infinite 20s;
}
  