@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  color: #000;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-size: cover;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
  animation: rotation linear infinite 20s;
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  display: flex;
  align-items: center;
  margin: 0 0 0 64px;
  z-index: 3;
  font-weight: bold;
  padding: 0;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 3;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  padding: 0;
  margin: 0;
}

.header__main-illustration {
  background-image: url("./../images/header-image.png");
  width: 765px;
  height: 608px;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
}

.header__link:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

.techniques {
  width: 80%;
  margin: 0 auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 920px;
  justify-content: flex-start;
  margin: 0 auto;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
  border-radius: 80px;
}

.cards__title {
  margin: 0 0 16px 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}

.cards__item {
  margin-right: 100px;
  width: 240px;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  margin: 50px auto -40px;
}

.video__iframe:first-of-type {
  margin-right: 20px;
}

.description {
  margin: 0 auto 100px;
}

.oakley {
  background-color: #f2f2f2;
  padding-top: 160px;
}

.two-columns {  
  display: flex;
  justify-content: space-between;
  margin: auto;
  color: #000;
  width: 80%;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
  
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}
 
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  color: #000;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin: 0 0 20px 0;
  z-index: 1;
  
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.table__hearding {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.table__text {
  line-height: 1.12;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.table {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  z-index: 1;
}

.feynman {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  flex-direction: column;
  min-height: 890px;
  margin-bottom: 100px;
  color: #000;
}

.feynman__img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}

.feynman__title {
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 2;
  margin: 100px 0 0 0;
}

.feynman__subtitle {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  z-index: 2;
}

.feynman__link:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

.khan {
  padding-top: 105px;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan_title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.khan__quote {
  width: 790px;
  margin: 50px 0 36px;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 10px 0;
}

.khan__quote-author-subline {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 68px;
}

.khan__buy-link {
  left: 668px;
  top: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
}

.khan__buy-link:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  overflow: hidden;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  margin-top: 0;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.kaufman__triangle {
  background-image: url(./../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  right: -120px;
  top: 0;
  height: 877px;
  width: 877px;
  animation: rotation linear infinite 20s;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.section-title_theme_dark {
  margin-top: 90px;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 217px;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.resources__logo:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

.footer{
  display: flex;
  background-color: #1f1f1f;
  min-height: 350px;
  position: relative;
  justify-content: center;
  color: #f2f2f2;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-left: 0;
  margin-bottom: 18px;
  margin-top: 18px;
}

.footer__columns {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column-links {
  margin: 20px 0 16px;
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}


.footer__social-icon {
  height: 16px;
  width: 16px;
  margin: 0 10px 0 0;
  padding: 0;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

